<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<!-- 固定侧边栏 -->
<div th:fragment="floatTool">
    <div class="fix">
        <ul>
            <li id="top">
                <a href="#">
                    <i class="iconfont">&#xe6cc;</i>
                    <p>回到顶部</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont">&#xe600;</i>
                    <p>购物车</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont">&#xe602;</i>
                    <p>收藏</p>
                </a>
            </li>
            <li id="bottom">
                <a href="#">
                    <i class="iconfont">&#xe64c;</i>
                    <p>回到底部</p>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>