<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>品牌</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<!-- 固定侧边栏 -->
<div th:replace="common/floatTool :: floatTool"></div>

<!-- 顶部栏 -->
<div th:replace="common/topBar :: topBar"></div>

<!-- 导航栏 -->
<div th:replace="common/navigate :: navigate"></div>

<!-- 脚部 -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>