.addProduct .info{
	position: relative;
}
.addProduct .info>img{
	width: 1226px;
	height: 550px;
}
.info .info-desc{
	background-color: #f2f2f2;
	width: 550px;
	height: 450px;
	position: absolute;
	top: 50px;
	right: 338px;
	text-align: center;

}
.info .info-desc select{
	width: 200px;
	height: 25px;
	margin-bottom: 10px;
}
.info .info-desc span{
	width: 80px;


}
.info .info-desc input{
	width: 200px;
	height: 30px;
	margin-bottom: 10px;

}