<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
	<title>商品上架</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/css/order.css">
	<link rel="stylesheet" type="text/css" href="/css/addProduct.css">
	<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/addProduct.js"></script>
</head>
<body>
<!-- 固定侧边栏 -->
<div th:replace="float_tool :: float_tool"></div>

<!-- 顶部栏 -->
<div th:replace="top_bar :: top_bar"></div>

<!--商品上架  -->
<div class="addProduct" style="back">
	<div class="container">
		<div class="info">
		    <img src="/images/index/addProduct-bg.jpg">
		    <div class="info-desc">

		    		<h2 style="text-align: center; padding: 20px 0 10px 0;">新增商品</h2>
				    <span>商品分类：</span>
				    <select id="categoryId">
						<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}">商品分类</option>
					</select>
				    <br>
				    <span>商品品牌：</span>
				    <select id="brandId">
					    <option th:each="brand:${brands}" th:value="${brand.id}" th:text="${brand.name}">商品品牌</option>
				    </select>
				    <br>
				    <span>商品名称：</span>
				    <input type="text" id="name"><br>
				    <span>商品价格：</span>
				    <input type="text" id="price"><br>
				    <span>促销价格：</span>
				    <input type="text" id="salePrice"><br>
				    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;描述：</span>
				    <input type="text" id="description"><br>
				    <input type="file" id="singleFileUpload"/>
				    <input type="button" onclick="uploadSingleFile()" value="提交"/><br>
				    <input type="file" multiple id="multipleFilesUpload"/>
				    <input type="button" onclick="uploadMultipleFiles()" value="提交"/><br>
				    <input type="button" onclick="saveProductInfo()" value="保存商品信息"/>

		    </div>
		</div>
	</div>
</div>