<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <ul>
                    <li>
                        <i class="iconfont">&#xe61f;</i>
                        <span>正品保障</span>
                    </li>
                    <li>
                        <i class="iconfont" >&#xe61e;</i>
                        <span>满199包邮</span>
                    </li>
                    <li>
                        <i class="iconfont">&#xe744;</i>
                        <span>售后无忧</span>
                    </li>
                    <li>
                        <i class="iconfont">&#xe743;</i>
                        <span>准时送达</span>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="bottom-left">
                    <dl>
                        <dt>帮助中心</dt>
                        <dd><a href="#">账户管理</a></dd>
                        <dd><a href="#">订单操作</a></dd>
                        <dd><a href="#">购物车</a></dd>
                    </dl>
                    <dl>
                        <dt>服务支持</dt>
                        <dd><a href="#">售后政策</a></dd>
                        <dd><a href="#">自动服务</a></dd>
                        <dd><a href="#">相关下载</a></dd>
                    </dl>
                    <dl>
                        <dt>线下门店</dt>
                        <dd><a href="#">购物之家</a></dd>
                        <dd><a href="#">服务网点</a></dd>
                        <dd><a href="#">授权体验店</a></dd>
                    </dl>
                    <dl>
                        <dt>关注我们</dt>
                        <dd><a href="#">官方微信</a></dd>
                        <dd><a href="#">新浪微博</a></dd>
                        <dd><a href="#">联系我们</a></dd>
                    </dl>
                </div>
                <div class="bottom-right">
                    <p class="phone">400-100-5678</p>
                    <p >周一至周日 8:00
                        -18:00
                        <br>
                        （仅收市话费）

                    </p>
                    <a href="#">
                        <i class="iconfont"></i>
                        人工客服
                    </a>
                </div>
            </div>
            <div class="beian">
                <a href="#">川ICP备1605009607号</a>
                <span>|</span>
                <a href="#">经营证照</a>
                <span>|</span>
                <a href="#">川B2-20170729</a>
                <span>|</span>
                <a href="#">川公网安备 31010502002939号</a>
                <span>|</span>
                <a href="#">出版物经营许可证</a>
                <span>|</span>
                <a href="#">增值电信业务经营许可证</a>
                <span>|</span>
                <p>Copyright© 网上购物商城</p>
            </div>
        </div>
    </div>
</div>
</html>