<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>商城首页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

</head>
<body>
<!-- 固定侧边栏 -->
<div th:replace="float_tool :: float_tool"></div>

<!-- 顶部栏 -->
<div th:replace="top_bar :: top_bar"></div>

<!-- 导航栏 -->
<div th:replace="navigate :: navigate"></div>

<!-- 主页内容 -->
<div class="Imgbox">
    <div class="lbview">
        <ul>

            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider01.jpg"></a>
            </li>
            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider02.jpg"></a>
            </li>
            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider03.jpg"></a>
            </li>
            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider04.jpg"></a>
            </li>
            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider02.jpg"></a>
            </li>
            <li class="lunbo">
                <a href="##"><img src="images/index/slider/slider03.jpg"></a>
            </li>
        </ul>
    </div>

    <div class="btn btn-prev"><i class="iconfont icon-fanhui7">&#xe648;</i></div>

    <div class="btn btn-next"><i class="iconfont icon-fanhui7">&#xe646;</i></div>

    <div class="list">
        <ul>
            <li class="zi"></li>

            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<div class="content-desc">
    <div class="container">
        <div class="banner">
            <img src="/images/index/banner/banner1.jpg">
        </div>
        <!-- 人气栏 -->
        <div class="popular">
            <ul>
                <li th:each="productPop:${popList}">
                    <a th:href="'/product/' + ${productPop.id}">
                        <div class="product-desc">
                            <p class="pro-name" th:text="${productPop.name}">小米笔记本</p>
                            <p class="pro-price">
                                ￥<span th:text="${productPop.price}">6299</span>元起
                            </p>
                            <img th:src="${productPop.thumbnailPath }">
                        </div>
                    </a>
                </li>

            </ul>
        </div>
        <!-- 商品展示栏 -->
        <div class="phone" th:each="productShow:${allCategories}">
            <div class="box-hd">
                <div class="hd-left">
                    <a href="#">
                        <span class="span1" th:text="${productShow.category.name }">手机</span>
                        <span class="span2">/</span>
                        <span class="span3" th:text="${productShow.category.adWords}">让我们变得更近</span>
                    </a>
                </div>
                <div class="hd-right">
                    <a href="#">
                        <span>更多...</span>
                    </a>
                </div>
            </div>
            <div class="phone-left" >
                <a href="#">
                    <img th:src="${productShow.category.adImage}" >
                </a>
            </div>
            <div class="phone-right">
                <ul>
                    <li th:each="product:${productShow.products}">
                        <a th:href="'/product/' + ${product.id}">
                            <img th:src="${product.thumbnailPath }">
                            <div class="introduce">
                                <p class="name" th:text="${product.name}">
                                    小米Note8 Pro
                                </p>
                                <p class="price" >
                                    ￥<span th:text="${product.price}">1299</span>元
                                </p>
                            </div>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

    </div>
</div>


<!-- 脚部 -->
<div th:replace="footer :: footer"></div>

</body>
</html>