<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
</head>
<body>
	<div class="login">
		<div class="container">
			<div class="top">
				<a href="file:///G:/shop_site/index.html">
					<img src="images/index/logo.jpg">
				</a>
				<div class="insure">
					<span>
						<i class="iconfont icon">&#xe712;</i>
                        100%正品
					</span>
					<span>
						<i class="iconfont icon">&#xe603;</i>
                        七天放心退
					</span>
					<span>
						<i class="iconfont icon">&#xe743;</i>
                        限时抢购
					</span>
				</div>
			</div>
			<div class="login-desc">
				<img src="/images/index/register-bg.png">
				<div class="login-form">
					<form action="">
						<h2 style="text-align: center; padding: 20px 0 10px 0;">会员登录</h2>
						<input type="user" placeholder="请输入用户名" id="userName"><br>
						<span class="tip" id="testname"></span>
						<input type="password" placeholder="请输入密码" id="passWord"><br>
						<span class="tip" id="testpwd"></span>
						<input type="checkbox" class="agreement" style="width: 15px; height: 15px; margin-top:0px; ">是否同意购物商城《服务协议及隐私声明》<br>
						<input type="button" value="登录" style="margin-top: 10px;" id="loginBtn">
						<input type="reset" value="重置" style="margin-top: 20px;"><br>
						<span>
							<a href="/administorLogin" style="color: purple; font-size: 20px;">管理员登录</a>
						</span>
						<br>
						<span>没有账号</span><a href="/register" style="color: red; font-weight: 700;">注册</a>
					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="footer" style="margin-top: 15px;">
    	<div class="beian">
			<a href="#">川ICP备1605009607号</a>
			<span>|</span>
			<a href="#">经营证照</a>
			<span>|</span>
			<a href="#">川B2-20170729</a>
			<span>|</span>
			<a href="#">川公网安备 31010502002939号</a>
			<span>|</span>
			<a href="#">出版物经营许可证</a>
			<span>|</span>
			<a href="#">增值电信业务经营许可证</a>
			<span>|</span>
			<p>Copyright© 网上购物商城</p>
		</div>
    </div>
</body>
</html>