<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
	<title>订单</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/order.css">
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
<!-- 固定侧边栏 -->
<div th:replace="float_tool :: float_tool"></div>

<!-- 顶部栏 -->
<div th:replace="top_bar :: top_bar"></div>

<!-- 导航栏 -->
<div th:replace="navigate :: navigate"></div>
<!-- 订单详情 -->
<div id="order-desc">
	<div class="container">
		<div id="slideBar">
	        <ul>
			    <li><a href=""><img src="images/index/家电/mi/空调/米家大1.5匹 C1A 2299.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/mi/洗衣机/米家变频10公斤滚桶烘干 1999.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/Samsung/电视/三星 QA55Q60RAJXXZ 55英寸QLED量子点4KHDR智能液晶电视 6299.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/mi/小米盒子/米家激光投影电视150寸 4K  10999.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/Samsung/空调/三星空调 1匹P变频  壁挂式 节能卧室挂机家用  7200.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/Samsung/冰箱/三星 RS55KBHI0WW SC 双开门冰箱双循环大容量家用对开门 3999.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/mi/电视/小米 4A40  40寸  1099.jpg"></a></li>
			    <li><a href=""><img src="images/index/家电/mi/洗衣机/米家洗烘一体8公斤滚桶 1799.jpg"></a></li>
		    </ul>
	    </div>
	    
		   
		<div id="order-item">
		    <span>全部订单</span>
		    <ul th:each="orderItem:${order}">
		    	<li th:each="product:${orderItem.products}">
		    	    <img th:src="${product.thumbnailPath}">
		    	 	<span th:text="${product.name}">cedfew</span>
		    	 	<button id="del">删除</button>
		    	 	<div id="price-in">
		    	 		实付金额：<span id="price" th:text="${product.price}">￥100</span>元
		    	 	</div>
		    	 </li>
		    </ul>
		</div>
	    
	</div>
	
</div>
</body>