<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/register.css">
	<link rel="stylesheet" type="text/css" href="css/
	reset.css">
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/register.js"></script>
</head>
<body>
	<div class="register">
		<div class="container">
			<div class="top">
				<a href="file:///G:/shop_site/index.html">
					<img src="images/index/logo.jpg">
				</a>
				<div class="insure">
					<span>
						<i class="iconfont icon">&#xe712;</i>
                        100%正品
					</span>
					<span>
						<i class="iconfont icon">&#xe603;</i>
                        七天放心退
					</span>
					<span>
						<i class="iconfont icon">&#xe743;</i>
                        限时抢购
					</span>
				</div>
			</div>
			<div class="register-desc">
				<img src="images/index/register-bg.png">
				<div class="register-form">
					<form action="" >
						<h2 style="text-align: center; padding: 20px 0 10px 0;">新用户注册</h2>
						<input type="text" placeholder="请输入用户名" id="userName"  onblur="checkUser()"><br>
						<span class="tip" id="testName"></span>

						<input type="password" placeholder="请输入密码" id="passWord" onblur="checkPassword()"><br>
						<span class="tip" id="testPass"></span>

						<input type="password" placeholder="请再次输入密码" id="repassWord" onblur="checkRepsd()"><br>
						<span class="tip" id="testRepsd"></span>

						<input type="email" placeholder="请输入邮箱地址" id="e-mail" onblur="checkEmail()"><br> 
						<span class="tip" id="testEmail"></span>

						<input type="text" placeholder="请输入手机号码" id="phone" onblur="checkPhone()"><br> 
						<span class="tip" id="testPhone"></span>

						<input type="checkbox" class="agreement" style="width: 15px; height: 15px; margin-top:0px; ">是否同意购物商城《服务协议及隐私声明》<br>
						<input type="button" value="注册" style="margin-top: 10px;" id="submitBtn" >
						<input type="reset" value="重置" style="margin-top: 10px;"><br>

						<span>已有账号，直接</span><a href="file:///G:/shop_site/login.html" style="color: red; font-weight: 700;">登录</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 脚部 -->
	<div th:replace="footer :: footer"></div>
</body>
</html>