<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>小米笔记本15.6GTX显卡</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
	    <link rel="stylesheet" type="text/css" href="css/index.css">
	    <link rel="stylesheet" type="text/css" href="css/fonts.css">
	    <link rel="stylesheet" type="text/css" href="css/pro-desc.css">
	    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	    <script type="text/javascript" src="js/index.js"></script>
	    <script type="text/javascript" src="js/pro-desc.js"></script>
	    <script type="text/javascript" src="js/desc-goods.js"></script>

</head>
<body>
		<!-- 固定侧边栏 -->
<div class="fix">
    <ul>
        <li id="top">
            <a href="#">
                <i class="iconfont">&#xe6cc;</i>
                <p>回到顶部</p>
            </a>
        </li>
          <li>
            <a href="#">
                <i class="iconfont">&#xe600;</i>
                <p>购物车</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="iconfont">&#xe602;</i>
                <p>收藏</p>
            </a>
        </li>
          <li id="bottom">
            <a href="#">
                <i class="iconfont">&#xe64c;</i>
                <p>回到底部</p>
            </a>
        </li>
    </ul>
</div>
<!-- 顶部栏 -->
<div class="topBar">
	<div class="container">
		<div class="topBar-left">
			<a href="#">
				<i class="iconfont">&#xe61d;</i>
				欢迎来到购物商城！
			</a>		
		</div>
		<div class="topBar-right">
			<a href="file:///G:/shop_site/index.html">
				<i class="iconfont">&#xe601;</i>
				首页	
			</a>
			<span>|</span>
			<a href="file:///G:/shop_site/login.html" target="_blank" >
                <i class="iconfont">&#xe608;</i>
                登录
            </a>
            <span>|</span>
            <a href="file:///G:/shop_site/register.html" target="_blank">
                <i class="iconfont">&#xe6ad;</i>
                注册
            </a>
		</div>
	</div>
</div>
  
<!-- 导航栏 --> 
<div class="nav">
	<div class="container">
		<div class="site-logo">
			<a href="#">
				<img src="images/index/logo.jpg" alt="LOGO">
			</a>
		</div>
		<div class="nav-ensure">
		    <span>
				<i class="iconfont">&#xe712;
				</i>
				100%正品
			</span>
			<span>
			    <i class="iconfont">&#xe603;
			    </i>
				七天无理由退换货
			</span>
		</div>
		<div class="nav-search">
			<form action="">
				<input type="text" class="search-text">
				<i class="iconfont">&#xe605;</i>
			</form>
		</div>
		<div class="nav-shopCar">
			<ul>
				<li>
					<a href="#">
					    <i class="iconfont">&#xe600;</i>
					    <span>购物车</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <i class="iconfont">&#xe604;</i>
					    <span>订单</span>
					</a>
				</li>
				<li>
					<a href="#">
					    <i class="iconfont">&#xe602;</i>
					    <span>收藏</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="nav-list">
			<div class="list-left" id="brand-outer">
				<a href="#" id="brand">
					品牌分类
					<i class="iconfont">&#xe656;</i>
				</a>
				<div id="nav-category">
					<ul>
						<li th:each="brandProducts:${newProducts}" class="nav-category-item">
							<a th:hef="${brandProducts.brand.id}" th:text="${brandProducts.brand.name}">品牌</a>
							<i class="iconfont">&#xe646;</i>
							<ul class="nav-sub-category">
								<li th:each="product:${brandProducts.products}">
									<a href="#">
										<img th:src="${product.thumbnailPath}">
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			 <div class="list-right">
				<ul>
					<li id="computer-item" th:each="categoryProducts:${hotProducts}">
						<a href="#" th:text="${categoryProducts.category.name}">电脑</a>
						<ul id="computer-sub-item">
							<li th:each="product:${categoryProducts.products}">
								<a >
									<img th:src="${product.thumbnailPath}">
									<p class="name" th:text="${product.name}">15.6 GTX显卡</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- 商品信息 -->
<div class="pro-desc">
	<div class="container">
		<div id="div1">
            <div class="small_pic">
                <span class="mark"></span>
                <span class="float_layer"></span>
                <img th:src="${product.thumbnailPath}">
            </div>
            <div class="big_pic">
                <img th:src="${product.thumbnailPath}">
            </div>
        </div>
        <div class="desc-right">
        	<h2 class="introduce" th:text="${product.name}">小米Pro 15.6" GTX显卡 <br>全新第八代英特尔酷睿处理器 ／ 升级金属双风扇 ／ 带宽提升80% ／ 15.6"全高清大屏超窄边大视野</h2>
        	<div class="pro-price">
        		<p class="standard-price" th:text="${product.price}">价格：￥7999</p>
        		<p class="sales-price" th:text="${product.priceSale}">促销价：￥7699</p>
        		<p class="yunfei">运费：10元</p>
        	</div>
        	<div class="service">
        		<h2>服务：</h2>
        	    <p>意外保修一年 ￥77</p>
        		<p>意外保修二年 ￥98</p>
        		<p>意外保修三年 ￥173</p>
        	</div>
        	<form action="">
        		<input type="submit" value="立即购买" class="buy" style="background-color: #ff6700; color: #fff;"> 
        		<input type="submit" value="加入购物车" class="in">

        	</form>
        	
        </div>
	</div>
	
</div>	

<!-- 信息详情 -->
<div id="desc-goods" >
	<div class="container">
		<span id="hd-desc">商品详情</span>
		<span id="hd-para">规格参数</span>
		<div id="hd-desc-sub" >
			<img th:src="${product.exhibitPaths}">
		</div>
	    <div class="hd-para-sub"></div> 
        <div class="other"></div>
	</div>
</div>

<!-- 脚部 -->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<ul>
				<li>
					<i class="iconfont">&#xe61f;</i>
					<span>正品保障</span>
				</li>
				<li>
					<i class="iconfont" >&#xe61e;</i>
					<span>满199包邮</span>
				</li>
				<li>
					<i class="iconfont">&#xe744;</i>
					<span>售后无忧</span>
				</li>
				<li>
					<i class="iconfont">&#xe743;</i>
					<span>准时送达</span>
				</li>
			</ul>
		</div>
		<div class="footer-bottom">
			<div class="bottom-left">
				<dl>
				    <dt>帮助中心</dt>
				    <dd><a href="#">账户管理</a></dd>
				    <dd><a href="#">订单操作</a></dd>
				    <dd><a href="#">购物车</a></dd>
			    </dl>
			    <dl>
				    <dt>服务支持</dt>
				    <dd><a href="#">售后政策</a></dd>
				    <dd><a href="#">自动服务</a></dd>
				    <dd><a href="#">相关下载</a></dd>
			    </dl>
			    <dl>
				    <dt>线下门店</dt>
				    <dd><a href="#">购物之家</a></dd>
				    <dd><a href="#">服务网点</a></dd>
				    <dd><a href="#">授权体验店</a></dd>
			    </dl>
			    <dl>
				    <dt>关注我们</dt>
				    <dd><a href="#">官方微信</a></dd>
				    <dd><a href="#">新浪微博</a></dd>
				    <dd><a href="#">联系我们</a></dd>
			    </dl>
			</div>
			<div class="bottom-right">
				<p class="phone">400-100-5678</p>
                <p >周一至周日 8:00
                    -18:00
                  <br>
               （仅收市话费）

                </p>
                <a href="#">
                     <i class="iconfont"></i>
                     人工客服
                </a>
			</div>
		</div>
		<div class="beian">
			<a href="#">川ICP备1605009607号</a>
			<span>|</span>
			<a href="#">经营证照</a>
			<span>|</span>
			<a href="#">川B2-20170729</a>
			<span>|</span>
			<a href="#">川公网安备 31010502002939号</a>
			<span>|</span>
			<a href="#">出版物经营许可证</a>
			<span>|</span>
			<a href="#">增值电信业务经营许可证</a>
			<span>|</span>
			<p>Copyright© 网上购物商城</p>
		</div>
	</div>
</div>
</body>
</html>	

